# Gender Bias Detection

In [1]:
!pip install genbit

Collecting genbit
  Downloading genbit-2.2.0.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.5.2 in /usr/local/lib/python3.10/dist-packages (from genbit) (1.10.1)
Requirement already satisfied: numpy>=1.21.5 in /usr/local/lib/python3.10/dist-packages (from genbit) (1.22.4)
Collecting language-tags==1.0.0 (from genbit)
  Downloading language_tags-1.0.0.tar.gz (203 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 203.8/203.8 kB 6.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting stopwordsiso==0.6.1 (from genbit)
  Downloading stopwordsiso-0.6.1-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.5/73.5 kB 4.1 MB/s eta 0:00:00
Collecting parameterized==0.7.4 (from genbit)
  Downloading parameterized-0.7.4-py2.py3-none-any.whl (25 kB)
Collecting nltk==3.6.6 (from genbit)
  Downloading nltk-3.6.6-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 11.8 MB/s eta 0:00:00
Collecting stanza==1.2 (from genbit)
  Downloading stanza-1.2-py3-none-any.whl (282 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 282.0/282.0 kB 10.3 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from language-tags==1.0.0->genbit) (1.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk==3.6.6->genbit) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk==3.6.6->genbit) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk==3.6.6->genbit) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk==3.6.6->genbit) (4.65.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.10/dist-packages (from stanza==1.2->genbit) (3.20.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from stanza==1.2->genbit) (2.27.1)
Requirement already satisfied: torch>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from stanza==1.2->genbit) (2.0.1+cu118)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.3.0->stanza==1.2->genbit) (3.12.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.3.0->stanza==1.2->genbit) (4.6.3)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.3.0->stanza==1.2->genbit) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.3.0->stanza==1.2->genbit) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.3.0->stanza==1.2->genbit) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.3.0->stanza==1.2->genbit) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.3.0->stanza==1.2->genbit) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.3.0->stanza==1.2->genbit) (16.0.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->stanza==1.2->genbit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->stanza==1.2->genbit) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->stanza==1.2->genbit) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->stanza==1.2->genbit) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.3.0->stanza==1.2->genbit) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.3.0->stanza==1.2->genbit) (1.3.0)
Building wheels for collected packages: language-tags
  Building wheel for language-tags (setup.py) ... done
  Created wheel for language-tags: filename=language_tags-1.0.0-py2.py3-none-any.whl size=209134 sha256=5b1e4ec7c6733a0260c54c6bb09456b8faca84e6e942e4ea6a56b0fca23815ae
  Stored in directory: /root/.cache/pip/wheels/89/64/76/e98e455286bb97a4b7d1081b02a4b4fa2ff26f5700392d87a8
Successfully built language-tags
Installing collected packages: stopwordsiso, parameterized, nltk, language-tags, stanza, genbit
  Attempting uninstall: nltk
    Found existing installation: nltk 3.8.1
    Uninstalling nltk-3.8.1:
      Successfully uninstalled nltk-3.8.1
Successfully installed genbit-2.2.0.0 language-tags-1.0.0 nltk-3.6.6 parameterized-0.7.4 stanza-1.2 stopwordsiso-0.6.1

In [2]:
from google.colab import drive
drive.mount('/gdrive')
!ln -s "/gdrive/My Drive/Internship" "/content"

Mounted at /gdrive

In [3]:
import os
import glob
import genbit
from genbit.genbit_metrics import GenBitMetrics
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [11]:
language_code = "EN"
genbit_metrics_object = GenBitMetrics(language_code, context_window=5, distance_weight=0.95, percentile_cutoff=80)

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/master/resources_1.2.0.json: 128kB [00:00, 56.7MB/s]
INFO:stanza:Downloading these customized packages for language: en (English)...
========================
| Processor | Package  |
------------------------
| tokenize  | combined |
| lemma     | combined |
========================

Downloading http://nlp.stanford.edu/software/stanza/1.2.0/en/tokenize/combined.pt: 100%|██████████| 640k/640k [00:00<00:00, 2.72MB/s]
Downloading http://nlp.stanford.edu/software/stanza/1.2.0/en/lemma/combined.pt: 100%|██████████| 3.86M/3.86M [00:00<00:00, 11.1MB/s]
INFO:stanza:Finished downloading models and saved to /usr/local/lib/python3.10/dist-packages/genbit/stanza_lemmatizers.

In [ ]:
genbit_score = []
percentage_of_female_gender_definition_words = []
percentage_of_male_gender_definition_words = []
avg_bias_ratio = []
freq_of_female_gender_definition_words = []
freq_of_male_gender_definition_words = []
names = []
captions = []

In [ ]:
%cd /content/Internship/Captions

/gdrive/My Drive/Internship/Captions

In [ ]:
file_list = glob.glob('*.txt')

In [ ]:
file_contents = {}

for file_path in file_list:
    with open(file_path, 'r') as file:
        file_contents[file_path] = file.read()

In [ ]:
for name in file_contents:
  names.append(name)
  captions.append(file_contents[name])
  test_text = [file_contents[name]]
  genbit_metrics_object = GenBitMetrics(language_code, context_window=5, distance_weight=0.95, percentile_cutoff=80)
  genbit_metrics_object.add_data(test_text, tokenized=False)
  metrics = genbit_metrics_object.get_metrics(output_statistics=True, output_word_list=True)
  genbit_score.append(metrics["genbit_score"])
  percentage_of_female_gender_definition_words.append(metrics["percentage_of_female_gender_definition_words"])
  percentage_of_male_gender_definition_words.append(metrics["percentage_of_male_gender_definition_words"])
  avg_bias_ratio.append(metrics["additional_metrics"]["avg_bias_ratio"])
  freq_of_female_gender_definition_words.append(metrics["statistics"]["freq_of_female_gender_definition_words"])
  freq_of_male_gender_definition_words.append(metrics["statistics"]["freq_of_male_gender_definition_words"])

In [ ]:
df = pd.DataFrame()
df["Name"] = names
df["Transcript"] = captions
df["Genbit Score"] = genbit_score
df["% Female Words"] = percentage_of_female_gender_definition_words
df["% Male Words"] = percentage_of_male_gender_definition_words
df["Avg Bias Ratio"] = avg_bias_ratio
df["Freq of Female Words"] = freq_of_female_gender_definition_words
df["Freq of Male Words"] = freq_of_male_gender_definition_words

In [ ]:
df = df.sort_values(by=['Name']).reset_index().drop(["index"], axis=1)

In [ ]:
df

,Name,Transcript,Genbit Score,% Female Words,% Male Words,Avg Bias Ratio,Freq of Female Words,Freq of Male Words
0,Baxter 1.txt,it's kind of a beautiful wasteland there's ju...,0.000000,0.0,0.00,0.000000,0,0
1,Baxter 10.txt,Be honest.\n\nBe vulnerable.\n\nBe yourself.\n...,0.000000,0.0,0.00,0.000000,0,0
2,Baxter 2.txt,"If we're from here, from SoCal, we have heart ...",0.577149,0.0,0.25,0.619709,0,1
3,Baxter 3.txt,hello and welcome to Baxter's guide to\n\npick...,0.000000,0.0,0.00,0.000000,0,0
4,Baxter 4.txt,growing a full beard is more than a lack\n\nof...,0.151080,0.0,1.00,0.130214,0,3
...,...,...,...,...,...,...,...,...
195,W 5.txt,Bring a spellbinding look to life with a fresh...,0.000000,0.0,0.00,0.000000,0,0
196,W 6.txt,"This festive season, #BeTheSameOrBeW.\n\nBe th...",0.911303,1.0,0.00,-0.989265,3,0
197,W 7.txt,The length of the kurta is no longer debatable...,0.000000,0.0,0.00,0.000000,0,0
198,W 8.txt,Check out the exclusive #UNUSUALS Range by W F...,0.572519,1.0,0.00,-0.667829,1,0
199,W 9.txt,Bring your eye makeup game to life with a spri...,0.000000,0.0,0.00,0.000000,0,0

In [ ]:
df.to_excel('/content/results.xlsx')

Metrics:

avg_bias_ratio: The average of the bias ratio scores per token. Formally, this is the average over all words w of log( c[w,M] / c[w,F] ).

avg_bias_conditional: The average of the bias conditional ratios per token. Similarly, this is the average over all words w of log( p(w|M) / p(w|F) ).
avg_bias_ratio_absolute. The average of the absolute bias ratio scores per token. Similar to avg_bias_ratio, this is the average over all w of | log( c[w,M] / c[w,F] ) |.

avg_bias_conditional_absolute (genbit_score): The average of the absolute bias conditional ratios per token [note: this score is most commonly used as the key bias score in the literature]. Formally, this is the average over all w of | log( p(w|M) / p(w|F) ) |.

std_dev_bias_ratio: Standard deviation of the bias ratio scores. This is the standard deviation that corresponds to avg_bias_ratio.

std_dev_bias_conditional: Standard deviation of the bias conditional scores. This is the standard deviation that corresponds to avg_bias_conditional.

percentage_of_female_gender_definition_words: The percentage of gendered (male, female and non-binary) words in the corpus that belong to the list of female gendered words

percentage_of_male_gender_definition_words: The percentage of gendered (male, female and non-binary) words in the corpus that belong to the list of male gendered words

percentage_of_non_binary_gender_definition_words: The percentage of gendered (male, female and non-binary words in the corpus that belong to the list of non-binary gendered words)

Statistics:

frequency_cutoff: The percentile frequency cutoff value. Any co-occurrence counts that are above this frequency will be used in calculating the metrics
num_words_considered: the count of words that were included in calculating the metrics

freq_of_female_gender_definition_words: The number of times any of the female gendered words occur in the corpus

freq_of_male_gender_definition_words: The number of times any of the male gendered words occur in the corpus

freq_of_non_binary_gender_definition_words: The number of times any of the non-binary gendered words occur in the corpus

jsd: The Jensen-Shannon divergence between the word probabilities conditioned on male and female gendered words. This is JSD( p(w|M) || p(w|F) ), where JSD(q||p) is the average KL divergence between q and m, and between p and m, where m is the average distribution (p+q)/2.

Token Based Metrics

frequency: The frequency of the token (the number of times it appears in the document): c[w,.]

male_count: the number of times the word occurs within context of a male gendered word: c[w,M]

female_count: the number of times the word occurs within context of a female gendered word: c[w,F]

non_binary_count: the number of times the word occurs within context of a male gendered word: c[w,NB]

female_conditional_prob: the conditional probability of the token occurring in context with a female gendered word: p(w|F)

male_conditional_prob: the conditional probability of the token occurring in context with a male gendered word: p(w|M)

bias_ratio: log(male_count / female_count) the more positive the value, the more biased the word is towards being associated with male gendered word, the more negative the value the more biased the word is towards being associated with female gendered. Each value is log( c[w,M] / c[w,F] ). A value of zero means that this word is equally likely to appear co-occurring with words in the female list as the male list (positive indicates more co-occurrence with male words; negative indicates more co-occurrence with female words).

non_binary_bias_ratio: log((male_count + female_count) / non_binary_count) the more positive the value, the more biased the word is towards being associated with a binary gendered word. A value of zero means the word has non-binary gender bias associated with it

bias_conditional_ratio: log( male_cond_prob/female_cond_prob ) the more positive the value, the more biased the word is towards being associated with male gendered word, the more negative the value the more biased the word is towards being associated with female gendered. Each value is log( p(w|M) / p(w|F) ). A value of zero means that the probability of this word co-occurring with words in the female list is equal to the probability of co-occurring with words in the male list (positive indicates more likely co-occurrence with male words; negative indicates more likely co-occurrence with female words).

non_binary_bias_conditional_ratio: log( (male_cond_prob+female_cond_prob) / non_binary_cond_prob ) the more positive the value, the more biased the word is towards being associated with binary gendered words; the more negative the value the more biased the word is towards being associated with a non-binary gendered word. A value of zero means the word has no gender bias associated with it.

In [ ]:
df = pd.read_csv("/content/Internship/Gender_Bias_Metrics_Transcripts.csv")

In [ ]:
df

,Unnamed: 0,Brand,Title,Transcript,Group,Views,Likes,Comments,Date,Genbit Score,% Female Words,% Male Words,Avg Bias Ratio,Freq of Female Words,Freq of Male Words
0,0,Baxter,Baxter of California Further Explores A Life L...,it's kind of a beautiful wasteland there's ju...,M,2095817,39,3,"May 17, 2018",0.000000,0.0,0.00,0.000000,0,0
1,1,Baxter,Baxter of California. Grooming to Live Life True.,Be honest.\nBe vulnerable.\nBe yourself.\nTalk...,M,1903293,42,1,"Aug 16, 2017",0.000000,0.0,0.00,0.000000,0,0
2,2,Baxter,How to Choose the Right Pomade for Short Hair ...,"If we're from here, from SoCal, we have heart ...",M,1718496,30,3,"Apr 26, 2019",0.577149,0.0,0.25,0.619709,0,1
3,3,Baxter,Full Beard Grooming by Baxter of California,hello and welcome to Baxter's guide to\n\npick...,M,926669,2200,164,"Nov 6, 2013",0.000000,0.0,0.00,0.000000,0,0
4,4,Baxter,True Angeleno: Henry | Life Lived True - Baxte...,growing a full beard is more than a lack\n\nof...,M,466250,12,0,"Aug 16, 2017",0.151080,0.0,1.00,0.130214,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,W For Women,Introduce Your Lips to a Variety of On-Trend C...,Bring a spellbinding look to life with a fresh...,F,227956,22,2,"Jan 17, 2022",0.000000,0.0,0.00,0.000000,0,0
196,196,W For Women,Introducing Festive Collection’22 | Be The Sam...,"This festive season, #BeTheSameOrBeW.\n\nBe th...",F,199029,77,0,"Sep 19, 2022",0.911303,1.0,0.00,-0.989265,3,0
197,197,W For Women,Introducing Stiletto Kurtas,The length of the kurta is no longer debatable...,F,81136,10,1,"Apr 18, 2016",0.000000,0.0,0.00,0.000000,0,0
198,198,W For Women,W Presents the #UNUSUALS Range,Check out the exclusive #UNUSUALS Range by W F...,F,72151,14,1,"Jan 20, 2016",0.572519,1.0,0.00,-0.667829,1,0
199,199,W For Women,W Beauty: Must Haves for Eyes that Speaks,Bring your eye makeup game to life with a spri...,F,57709,1,0,"Jan 27, 2022",0.000000,0.0,0.00,0.000000,0,0

In [ ]:
df = df.drop(["Unnamed: 0"], axis = 1)

In [ ]:
df

,Brand,Title,Transcript,Group,Views,Likes,Comments,Date,Genbit Score,% Female Words,% Male Words,Avg Bias Ratio,Freq of Female Words,Freq of Male Words
0,Baxter,Baxter of California Further Explores A Life L...,it's kind of a beautiful wasteland there's ju...,M,2095817,39,3,"May 17, 2018",0.000000,0.0,0.00,0.000000,0,0
1,Baxter,Baxter of California. Grooming to Live Life True.,Be honest.\nBe vulnerable.\nBe yourself.\nTalk...,M,1903293,42,1,"Aug 16, 2017",0.000000,0.0,0.00,0.000000,0,0
2,Baxter,How to Choose the Right Pomade for Short Hair ...,"If we're from here, from SoCal, we have heart ...",M,1718496,30,3,"Apr 26, 2019",0.577149,0.0,0.25,0.619709,0,1
3,Baxter,Full Beard Grooming by Baxter of California,hello and welcome to Baxter's guide to\n\npick...,M,926669,2200,164,"Nov 6, 2013",0.000000,0.0,0.00,0.000000,0,0
4,Baxter,True Angeleno: Henry | Life Lived True - Baxte...,growing a full beard is more than a lack\n\nof...,M,466250,12,0,"Aug 16, 2017",0.151080,0.0,1.00,0.130214,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,W For Women,Introduce Your Lips to a Variety of On-Trend C...,Bring a spellbinding look to life with a fresh...,F,227956,22,2,"Jan 17, 2022",0.000000,0.0,0.00,0.000000,0,0
196,W For Women,Introducing Festive Collection’22 | Be The Sam...,"This festive season, #BeTheSameOrBeW.\n\nBe th...",F,199029,77,0,"Sep 19, 2022",0.911303,1.0,0.00,-0.989265,3,0
197,W For Women,Introducing Stiletto Kurtas,The length of the kurta is no longer debatable...,F,81136,10,1,"Apr 18, 2016",0.000000,0.0,0.00,0.000000,0,0
198,W For Women,W Presents the #UNUSUALS Range,Check out the exclusive #UNUSUALS Range by W F...,F,72151,14,1,"Jan 20, 2016",0.572519,1.0,0.00,-0.667829,1,0
199,W For Women,W Beauty: Must Haves for Eyes that Speaks,Bring your eye makeup game to life with a spri...,F,57709,1,0,"Jan 27, 2022",0.000000,0.0,0.00,0.000000,0,0

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df['Days Old'] = datetime.now() - df['Date']

In [ ]:
df['Days Old'] = df['Days Old'].dt.days

In [ ]:
df['Days Old']

0      1874
1      2148
2      1530
3      3527
4      2148
       ...
195     533
196     288
197    2633
198    2722
199     523
Name: Days Old, Length: 200, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Brand                 200 non-null    object
 1   Title                 200 non-null    object
 2   Transcript            200 non-null    object
 3   Group                 200 non-null    object
 4   Views                 200 non-null    object
 5   Likes                 200 non-null    int64
 6   Comments              200 non-null    object
 7   Date                  200 non-null    datetime64[ns]
 8   Genbit Score          200 non-null    float64
 9   % Female Words        200 non-null    float64
 10  % Male Words          200 non-null    float64
 11  Avg Bias Ratio        200 non-null    float64
 12  Freq of Female Words  200 non-null    int64
 13  Freq of Male Words    200 non-null    int64
 14  Days Old              200 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(6)
memory usage: 23.6+ KB

In [ ]:
df.loc[df["Views"] == '110,167', 'Views'] = '110167'
df.loc[df["Views"] == '17,340', 'Views'] = '17340'
df.loc[df["Views"] == '232,897', 'Views'] = '232897'
df.loc[df["Views"] == '5,409,260', 'Views'] = '5409260'
df.loc[df["Views"] == '207,259', 'Views'] = '207259'

In [ ]:
df.loc[df["Comments"] == '5,261', 'Comments'] = '5261'
df.loc[df["Comments"] == 'Sep 9, 2017', 'Comments'] = '2607'

In [ ]:
df["Views"] = df["Views"].astype(int)
df["Likes"] = df["Likes"].astype(int)
df["Comments"] = df["Comments"].astype(int)

In [ ]:
df["Length"] = df["Transcript"].str.len()
df["Group"] = df["Group"].map({'M': 1, 'F': 2})

In [ ]:
new_df = pd.pivot_table(df, index='Brand', aggfunc='sum')

<ipython-input-30-50e37cb6d585>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  new_df = pd.pivot_table(df, index='Brand', aggfunc='sum')

In [ ]:
new_df["Group"] = new_df["Group"]/10

In [ ]:
new_df["Group"] = new_df["Group"].astype(int)

In [ ]:
new_df

,% Female Words,% Male Words,Avg Bias Ratio,Comments,Days Old,Freq of Female Words,Freq of Male Words,Genbit Score,Group,Length,Likes,Views
Brand,,,,,,,,,,,,
Baxter,0.500000,2.000000,1.169384,175,22049,7,6,2.705264,1,7624,2406,8162420
Beardo,2.333333,3.083333,0.437618,147,11945,9,12,5.539433,1,4034,11842,46461777
Chanel,5.105976,1.649393,-4.420704,16840,30826,102,25,6.612798,2,15799,488000,81585458
Dollar Shave Club,0.365642,1.905749,1.272304,9483,12303,6,24,1.752471,1,24063,153066,36210921
Fenty Beauty,3.130279,2.063792,-2.401192,15867,14691,42,37,3.282830,2,36965,515600,20319966
Gillette,0.660088,6.388870,7.233313,26530,7567,9,52,6.695955,1,8416,96168,70545754
Hugo Boss,1.714286,1.142857,-0.509593,481,12290,16,6,2.974110,1,6135,10255,13607459
Lancome,3.138462,1.000000,-3.021117,274,10618,18,1,3.913216,2,9412,6642,8929492
Loreal,0.666667,1.333333,0.328819,864,6923,2,3,0.869210,2,4156,7958,375508207
Lumin,1.857143,3.508929,3.084114,114,6537,6,36,6.130032,1,11062,359,7896601
Maybelline,0.611111,1.944444,-0.338240,1881,12270,3,10,1.203574,2,8124,22251,87071351
Old Spice,2.079437,5.639610,6.176935,48815,17756,18,48,5.795288,1,7847,455545,360968497
Peter England,0.041667,3.095238,1.389284,932,29558,1,10,1.433252,1,10479,29904,36133468
Rare Beauty,1.757751,0.558764,-1.318778,10558,5300,58,53,1.837463,2,50433,296000,7995623
Sephora,4.503324,0.833552,-5.215806,1949,9690,74,27,6.734489,2,23373,45335,23995615
Shein,3.072460,0.670380,-4.324021,42,1213,142,71,4.613016,2,79847,302,18568
Taylor Stitch,0.000000,0.645833,0.245962,29,2406,0,8,0.272442,1,13603,175,10165
The Man Company,0.244403,7.478483,6.972233,205,10520,131,205,6.728635,1,37409,6159,15905558
Veet,2.000000,0.000000,-1.370610,1349,9796,2,0,1.150549,2,4081,21515,26982618
W For Women,3.000000,0.000000,-2.992753,8,10477,5,0,2.596337,2,2289,1256,15395193

In [ ]:
new_df.sort_values(by='Genbit Score', ascending=False)

,% Female Words,% Male Words,Avg Bias Ratio,Comments,Days Old,Freq of Female Words,Freq of Male Words,Genbit Score,Group,Length,Likes,Views
Brand,,,,,,,,,,,,
Sephora,4.503324,0.833552,-5.215806,1949,9690,74,27,6.734489,2,23373,45335,23995615
The Man Company,0.244403,7.478483,6.972233,205,10520,131,205,6.728635,1,37409,6159,15905558
Gillette,0.660088,6.388870,7.233313,26530,7567,9,52,6.695955,1,8416,96168,70545754
Chanel,5.105976,1.649393,-4.420704,16840,30826,102,25,6.612798,2,15799,488000,81585458
Lumin,1.857143,3.508929,3.084114,114,6537,6,36,6.130032,1,11062,359,7896601
Old Spice,2.079437,5.639610,6.176935,48815,17756,18,48,5.795288,1,7847,455545,360968497
Beardo,2.333333,3.083333,0.437618,147,11945,9,12,5.539433,1,4034,11842,46461777
Shein,3.072460,0.670380,-4.324021,42,1213,142,71,4.613016,2,79847,302,18568
Lancome,3.138462,1.000000,-3.021117,274,10618,18,1,3.913216,2,9412,6642,8929492
Fenty Beauty,3.130279,2.063792,-2.401192,15867,14691,42,37,3.282830,2,36965,515600,20319966
Hugo Boss,1.714286,1.142857,-0.509593,481,12290,16,6,2.974110,1,6135,10255,13607459
Baxter,0.500000,2.000000,1.169384,175,22049,7,6,2.705264,1,7624,2406,8162420
W For Women,3.000000,0.000000,-2.992753,8,10477,5,0,2.596337,2,2289,1256,15395193
Rare Beauty,1.757751,0.558764,-1.318778,10558,5300,58,53,1.837463,2,50433,296000,7995623
Dollar Shave Club,0.365642,1.905749,1.272304,9483,12303,6,24,1.752471,1,24063,153066,36210921
Peter England,0.041667,3.095238,1.389284,932,29558,1,10,1.433252,1,10479,29904,36133468
Maybelline,0.611111,1.944444,-0.338240,1881,12270,3,10,1.203574,2,8124,22251,87071351
Veet,2.000000,0.000000,-1.370610,1349,9796,2,0,1.150549,2,4081,21515,26982618
Loreal,0.666667,1.333333,0.328819,864,6923,2,3,0.869210,2,4156,7958,375508207
Taylor Stitch,0.000000,0.645833,0.245962,29,2406,0,8,0.272442,1,13603,175,10165

In [ ]:
new_df.to_excel("/content/Internship/Company_wise_metrics.xlsx")

#### Masculine Brands Selected: Old Spice, The Man Company and Gillette <br>
#### Feminine Brands Selected: Shein, Chanel and Sephora

In [43]:
df = pd.read_csv("/content/Internship/Results_New.csv")

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       150 non-null    object
 1   Title       150 non-null    object
 2   Link        150 non-null    object
 3   Transcript  150 non-null    object
 4   Group       150 non-null    object
 5   Views       150 non-null    int64
 6   Likes       150 non-null    int64
 7   Comment     150 non-null    int64
 8   Date        150 non-null    object
dtypes: int64(3), object(6)
memory usage: 10.7+ KB

In [45]:
df["Transcript"] = df["Transcript"].astype(str)

In [46]:
df["Group"] = df["Group"].astype(str)

In [48]:
transcripts = np.array(df["Transcript"])

In [49]:
genbit_score = []
percentage_of_female_gender_definition_words = []
percentage_of_male_gender_definition_words = []
avg_bias_ratio = []
freq_of_female_gender_definition_words = []
freq_of_male_gender_definition_words = []

In [50]:
for data in transcripts:
  test_text = [data]
  genbit_metrics_object = GenBitMetrics(language_code, context_window=5, distance_weight=0.95, percentile_cutoff=80)
  genbit_metrics_object.add_data(test_text, tokenized=False)
  metrics = genbit_metrics_object.get_metrics(output_statistics=True, output_word_list=True)
  genbit_score.append(metrics["genbit_score"])
  percentage_of_female_gender_definition_words.append(metrics["percentage_of_female_gender_definition_words"])
  percentage_of_male_gender_definition_words.append(metrics["percentage_of_male_gender_definition_words"])
  avg_bias_ratio.append(metrics["additional_metrics"]["avg_bias_ratio"])
  freq_of_female_gender_definition_words.append(metrics["statistics"]["freq_of_female_gender_definition_words"])
  freq_of_male_gender_definition_words.append(metrics["statistics"]["freq_of_male_gender_definition_words"])

In [51]:
df["Genbit Score"] = genbit_score
df["% Female Words"] = percentage_of_female_gender_definition_words
df["% Male Words"] = percentage_of_male_gender_definition_words
df["Avg Bias Ratio"] = avg_bias_ratio
df["Freq of Female Words"] = freq_of_female_gender_definition_words
df["Freq of Male Words"] = freq_of_male_gender_definition_words

In [52]:
df['Date'] = pd.to_datetime(df['Date'])
df['Days Old'] = datetime.now() - df['Date']
df['Days Old'] = df['Days Old'].dt.days

In [54]:
df["Length"] = df["Transcript"].str.len()
df["Group"] = df["Group"].map({'M': 1, 'F': 2})

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Brand                 150 non-null    object
 1   Title                 150 non-null    object
 2   Link                  150 non-null    object
 3   Transcript            150 non-null    object
 4   Group                 150 non-null    int64
 5   Views                 150 non-null    int64
 6   Likes                 150 non-null    int64
 7   Comment               150 non-null    int64
 8   Date                  150 non-null    datetime64[ns]
 9   Genbit Score          150 non-null    float64
 10  % Female Words        150 non-null    float64
 11  % Male Words          150 non-null    float64
 12  Avg Bias Ratio        150 non-null    float64
 13  Freq of Female Words  150 non-null    int64
 14  Freq of Male Words    150 non-null    int64
 15  Days Old              150 non-null    int64
 16  Length                150 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(8), object(4)
memory usage: 20.0+ KB

In [57]:
df.to_excel("/content/Internship/Transcripts.xlsx")

In [58]:
df

,Brand,Title,Link,Transcript,Group,Views,Likes,Comment,Date,Genbit Score,% Female Words,% Male Words,Avg Bias Ratio,Freq of Female Words,Freq of Male Words,Days Old,Length
0,Old Spice,The Expert | Old Spice GentleMan’s Blend Body ...,https://www.youtube.com/watch?v=TBJAJKspa0I,wow your skin is amazing oh oh thank you I go...,1,2493,141,10,2023-06-30,1.839898,0.000000,1.000000,2.329446,0,12,8,783
1,Old Spice,The Secret | Old Spice,https://www.youtube.com/watch?v=8vbJiu40k7w,they are losing they need a miracle\nencourage...,1,1491,75,5,2023-06-29,0.000000,0.000000,0.000000,0.000000,0,0,9,193
2,Old Spice,Smells Like Romance | Old Spice Body Spray and...,https://www.youtube.com/watch?v=564Y6lpuTDw,I can smell the romance in the air \n\nit's th...,1,865470,158,13,2023-06-27,0.000000,0.000000,0.000000,0.000000,0,0,11,298
3,Old Spice,Give Odor The Bird | Old Spice Eaglefangs Deod...,https://www.youtube.com/watch?v=ABGF-h6GJY0,pepper brownie pepperoni so where are we\n\ndr...,1,2480224,157,25,2023-06-15,0.000000,0.000000,0.000000,0.000000,0,0,23,311
4,Old Spice,Tango | Old Spice Swagger Body Wash and Deodorant,https://www.youtube.com/watch?v=WeFl5Ypcp_E,didn't use Old Spice I think I smelled\n\nfres...,1,15821,166,28,2023-03-27,0.000000,0.000000,0.000000,0.000000,0,0,103,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Chanel,The CHANEL Spring-Summer 2023 Ready-to-Wear co...,https://www.youtube.com/watch?v=mxJKsiU2-OE,"Kristen, I wanna ask you something.\n\nWhat ma...",2,158176,6300,2245,2023-03-16,0.000000,0.000000,0.000000,0.000000,0,0,114,678
146,Chanel,Literary Rendezvous at Rue Cambon: Portrait of...,https://www.youtube.com/watch?v=fARFkSSwE04,"She believes in experience,\nin the body...\n\...",2,29787,1800,1036,2023-03-01,1.326426,0.772093,0.046512,-1.544781,166,10,129,19475
147,Chanel,Kristen Stewart & Golshifteh Farahani in Berli...,https://www.youtube.com/watch?v=McxrTRF0N9E,It's an enormous opportunity\nto have a hand\n...,2,38893,2200,747,2023-02-28,0.000000,0.000000,0.000000,0.000000,0,0,130,1390
148,Chanel,Sadie Sink and Lucy Boynton at the CHANEL Spri...,https://www.youtube.com/watch?v=CdIsut5UtKs,Favorite part about the show?\n\nWhat's always...,2,19063,961,36,2023-01-26,0.000000,0.000000,0.000000,0.000000,0,0,163,733
149,Chanel,"Give wonder, give CHANEL\r",https://www.youtube.com/watch?v=Bx7OptSxwiQ,We copy you on the ground.\n\nAll systems runn...,2,32620,2000,122,2022-11-30,0.060625,0.000000,1.000000,0.000000,0,1,220,300

In [59]:
df_male = df[df["Group"]==1]
df_female = df[df["Group"]==2]

In [60]:
df_female.Brand.unique()

array(['Shein', 'Sephora', 'Chanel'], dtype=object)

In [61]:
df_male.Brand.unique()

array(['Old Spice', 'The Man Company', 'Gillette'], dtype=object)

# Independent T Test

In [62]:
metrics = ["Views", "Likes", "Comments", "GenBit Score", "% Female Words", "% Male Words", "Avg Bias Ratio", "Freq Female Words", "Freq Male Words"]
var_m = []
var_f = []
t_statistic = []
p_value = []

##### Views

In [63]:
m1 = np.array(df_male["Views"])
f1 = np.array(df_female["Views"])

In [64]:
np.var(m1), np.var(f1)

(141436807733007.88, 369982186695.75055)

In [65]:
var_m.append(np.var(m1))
var_f.append(np.var(f1))

In [66]:
np.var(m1)/ np.var(f1)

382.28004703728175

In [67]:
stats.ttest_ind(a=m1, b=f1, equal_var=True)

Ttest_indResult(statistic=2.7397433663755324, pvalue=0.00690523942448511)

In [68]:
result1 = stats.ttest_ind(a=m1, b=f1, equal_var=True)
t_statistic.append(result1[0])
p_value.append(result1[1])

##### Likes

In [69]:
m2 = np.array(df_male["Likes"])
f2 = np.array(df_female["Likes"])

In [70]:
np.var(m2), np.var(f2)

(972107.768888889, 117753458.45582224)

In [71]:
var_m.append(np.var(m2))
var_f.append(np.var(f2))

In [72]:
np.var(f2)/ np.var(m2)

121.13210306961486

In [73]:
stats.ttest_ind(a=m2, b=f2, equal_var=True)

Ttest_indResult(statistic=-1.7567193181771177, pvalue=0.08103377548827567)

In [74]:
result2 = stats.ttest_ind(a=m2, b=f2, equal_var=True)
t_statistic.append(result2[0])
p_value.append(result2[1])

##### Comments

In [75]:
m3 = np.array(df_male["Comment"])
f3 = np.array(df_female["Comment"])

In [76]:
np.var(m3), np.var(f3)

(10048.047288888889, 234292.66595555554)

In [77]:
var_m.append(np.var(m3))
var_f.append(np.var(f3))

In [78]:
np.var(f3)/ np.var(m3)

23.31723360962243

In [79]:
stats.ttest_ind(a=m3, b=f3, equal_var=True)

Ttest_indResult(statistic=-2.4419542166601707, pvalue=0.015786600841859642)

In [80]:
result3 = stats.ttest_ind(a=m3, b=f3, equal_var=True)
t_statistic.append(result3[0])
p_value.append(result3[1])

##### GenBit Score

In [81]:
m4 = np.array(df_male["Genbit Score"])
f4 = np.array(df_female["Genbit Score"])

In [82]:
np.var(m4), np.var(f4)

(0.17914357680950205, 0.1519825033289676)

In [83]:
var_m.append(np.var(m4))
var_f.append(np.var(f4))

In [84]:
np.var(m4)/ np.var(f4)

1.1787118443610844

In [85]:
stats.ttest_ind(a=m4, b=f4, equal_var=True)

Ttest_indResult(statistic=2.139977442366143, pvalue=0.03399592703353841)

In [86]:
result4 = stats.ttest_ind(a=m4, b=f4, equal_var=True)
t_statistic.append(result4[0])
p_value.append(result4[1])

##### Percentage Female Definition Words

In [87]:
m5 = np.array(df_male["% Female Words"])
f5 = np.array(df_female["% Female Words"])

In [88]:
np.var(m5), np.var(f5)

(0.028627552785296793, 0.09862543307983328)

In [89]:
var_m.append(np.var(m5))
var_f.append(np.var(f5))

In [90]:
np.var(f5)/ np.var(m5)

3.445122739603772

In [91]:
stats.ttest_ind(a=m5, b=f5, equal_var=True)

Ttest_indResult(statistic=-5.618700535582312, pvalue=9.268314181297536e-08)

In [92]:
result5 = stats.ttest_ind(a=m5, b=f5, equal_var=True)
t_statistic.append(result5[0])
p_value.append(result5[1])

##### Percentage Male Definition Words

In [93]:
m6 = np.array(df_male["% Male Words"])
f6 = np.array(df_female["% Male Words"])

In [94]:
np.var(m6), np.var(f6)

(0.12881677840717945, 0.05370031821105933)

In [95]:
var_m.append(np.var(m6))
var_f.append(np.var(f6))

In [96]:
np.var(m6)/ np.var(f6)

2.398808474484053

In [97]:
stats.ttest_ind(a=m6, b=f6, equal_var=True)

Ttest_indResult(statistic=7.095021091510648, pvalue=4.975125030132194e-11)

In [98]:
result6 = stats.ttest_ind(a=m6, b=f6, equal_var=True)
t_statistic.append(result6[0])
p_value.append(result6[1])

##### Average Bias Ratio

In [99]:
m7 = np.array(df_male["Avg Bias Ratio"])
f7 = np.array(df_female["Avg Bias Ratio"])

In [100]:
np.var(m7), np.var(f7)

(0.3327574561243729, 0.2402789563701514)

In [101]:
var_m.append(np.var(m7))
var_f.append(np.var(f7))

In [102]:
np.var(m7)/ np.var(f7)

1.3848797295912911

In [103]:
stats.ttest_ind(a=m7, b=f7, equal_var=True)

Ttest_indResult(statistic=8.421339825963038, pvalue=2.9742988451388084e-14)

In [104]:
result7 = stats.ttest_ind(a=m7, b=f7, equal_var=True)
t_statistic.append(result7[0])
p_value.append(result7[1])

##### Frequency of Female Definition Words

In [105]:
m8 = np.array(df_male["Freq of Female Words"])
f8 = np.array(df_female["Freq of Female Words"])

In [106]:
np.var(m8), np.var(f8)

(953.9758222222223, 793.6824888888888)

In [107]:
var_m.append(np.var(m8))
var_f.append(np.var(f8))

In [108]:
np.var(m8)/ np.var(f8)

1.2019615344641599

In [109]:
stats.ttest_ind(a=m8, b=f8, equal_var=True)

Ttest_indResult(statistic=0.0, pvalue=1.0)

In [110]:
result8 = stats.ttest_ind(a=m8, b=f8, equal_var=True)
t_statistic.append(result8[0])
p_value.append(result8[1])

##### Frequency of Male Definition Words

In [111]:
m9 = np.array(df_male["Freq of Male Words"])
f9 = np.array(df_female["Freq of Male Words"])

In [112]:
np.var(m9), np.var(f9)

(1569.2632888888893, 65.8424888888889)

In [113]:
var_m.append(np.var(m9))
var_f.append(np.var(f9))

In [114]:
np.var(m9)/ np.var(f9)

23.833596137853576

In [115]:
stats.ttest_ind(a=m9, b=f9, equal_var=True)

Ttest_indResult(statistic=3.5257604236226223, pvalue=0.0005624108115331523)

In [116]:
result9 = stats.ttest_ind(a=m9, b=f9, equal_var=True)
t_statistic.append(result9[0])
p_value.append(result9[1])

#### Final

In [117]:
results = pd.DataFrame()

In [118]:
results["Metric"] = metrics
results["M Variance"] = var_m
results["F Variance"] = var_f
results["T-Statistic"] = t_statistic
results["P-Value"] = p_value

T-statistic measures the difference between the means of the two groups relative to the variability within each group.
P-value indicates the probability of observing the obtained t-statistic or more extreme values under the null hypothesis (the assumption that there is no difference between the groups).
If the p-value is below a predetermined significance level (commonly 0.05), it suggests that there is sufficient evidence to reject the null hypothesis and conclude that there is a significant difference between the groups.
If the p-value is above the significance level, it suggests that there is not enough evidence to reject the null hypothesis, indicating that there is no significant difference between the groups.

In [119]:
results

              Metric    M Variance    F Variance  T-Statistic       P-Value
0              Views  1.414368e+14  3.699822e+11     2.739743  6.905239e-03
1              Likes  9.721078e+05  1.177535e+08    -1.756719  8.103378e-02
2           Comments  1.004805e+04  2.342927e+05    -2.441954  1.578660e-02
3       GenBit Score  1.791436e-01  1.519825e-01     2.139977  3.399593e-02
4     % Female Words  2.862755e-02  9.862543e-02    -5.618701  9.268314e-08
5       % Male Words  1.288168e-01  5.370032e-02     7.095021  4.975125e-11
6     Avg Bias Ratio  3.327575e-01  2.402790e-01     8.421340  2.974299e-14
7  Freq Female Words  9.539758e+02  7.936825e+02     0.000000  1.000000e+00
8    Freq Male Words  1.569263e+03  6.584249e+01     3.525760  5.624108e-04

In [120]:
results["p < 0.05"] = results["P-Value"] < 0.05

In [121]:
results

,Metric,M Variance,F Variance,T-Statistic,P-Value,p < 0.05
0,Views,1.414368e+14,3.699822e+11,2.739743,6.905239e-03,True
1,Likes,9.721078e+05,1.177535e+08,-1.756719,8.103378e-02,False
2,Comments,1.004805e+04,2.342927e+05,-2.441954,1.578660e-02,True
3,GenBit Score,1.791436e-01,1.519825e-01,2.139977,3.399593e-02,True
4,% Female Words,2.862755e-02,9.862543e-02,-5.618701,9.268314e-08,True
5,% Male Words,1.288168e-01,5.370032e-02,7.095021,4.975125e-11,True
6,Avg Bias Ratio,3.327575e-01,2.402790e-01,8.421340,2.974299e-14,True
7,Freq Female Words,9.539758e+02,7.936825e+02,0.000000,1.000000e+00,False
8,Freq Male Words,1.569263e+03,6.584249e+01,3.525760,5.624108e-04,True

In [122]:
results.to_excel("/content/Internship/T_Test1.xlsx")

# Regression Analysis

In [123]:
coEfficients = []
pValues = []

In [124]:
X = np.column_stack([
    df["Genbit Score"].values,
    df["% Female Words"].values,
    df["% Male Words"].values,
    df["Freq of Female Words"].values,
    df["Freq of Male Words"].values,
    df["Avg Bias Ratio"].values,
    (df["Genbit Score"] * df["Group"]).values,
    (df["% Female Words"] * df["Group"]).values,
    (df["% Male Words"] * df["Group"]).values,
    (df["Freq of Female Words"] * df["Group"]).values,
    (df["Freq of Male Words"] * df["Group"]).values,
    (df["Avg Bias Ratio"] * df["Group"]).values,
    df["Length"].values,
    df["Days Old"].values
])

In [125]:
X = sm.add_constant(X)

### Views

In [126]:
y1 = df["Views"]

In [127]:
model1 = sm.OLS(y1, X)
results1 = model1.fit()

In [128]:
print(results1.rsquared_adj)

0.26719897670312653

In [129]:
coEfficients.append(np.array(results1.params))
pValues.append(np.array(results1.pvalues))

### Likes

In [130]:
y2 = df["Likes"]

In [131]:
model2 = sm.OLS(y2, X)
results2 = model2.fit()

In [132]:
print(results2.rsquared_adj)

-0.06942644465790249

In [133]:
coEfficients.append(np.array(results2.params))
pValues.append(np.array(results2.pvalues))

## Final

In [ ]:
coEfficients

[array([ 7.74440742e+05, -3.66856390e+07,  1.07830734e+08, -3.23975136e+06,
         1.05090664e+05, -1.49530055e+05,  2.92708430e+07,  1.74054668e+07,
        -5.41806690e+07,  4.31948470e+05, -5.12372336e+04,  1.08120810e+05,
        -1.46970912e+07, -6.35401514e+01,  1.76427832e+04]),
 array([ 2.82747641e+03, -3.03531272e+03, -7.15218082e+02, -2.31525310e+03,
         2.37124818e+01,  2.57504590e+01,  3.83916150e+03, -1.18899892e+02,
         2.35781282e+03, -5.01810393e+02, -7.57311970e-01, -4.20594042e+01,
        -1.21867445e+03, -7.38515493e-03,  4.49638012e-01])]

In [ ]:
pValues

[array([5.35312483e-01, 1.97549951e-02, 5.01752422e-06, 6.61407406e-01,
        4.94357930e-01, 4.65683017e-01, 3.10018352e-02, 4.37811953e-02,
        1.41502120e-05, 9.30956375e-01, 5.70608978e-01, 6.10347652e-01,
        5.08886674e-02, 6.33307132e-01, 4.66802270e-05]),
 array([0.03917982, 0.85809969, 0.97694938, 0.77387214, 0.88736568,
        0.90811895, 0.79341207, 0.98983805, 0.85743635, 0.92639754,
        0.99385782, 0.85557897, 0.88105359, 0.95939587, 0.92173846])]

In [ ]:
results = pd.DataFrame()

In [ ]:
results["Variable"] = [
    "Constant",
    "Genbit Score",
    "% Female Words",
    "% Male Words",
    "Freq of Female Words",
    "Freq of Male Words",
    "Avg Bias Ratio",
    "Genbit Score * Binary Variable",
    "% Female Words * Binary Variable",
    "% Male Words * Binary Variable",
    "Freq of Female Words * Binary Variable",
    "Freq of Male Words * Binary Variable",
    "Avg Bias Ratio * Binary Variable",
    "Length",
    "Days Old"
]

In [ ]:
results["Co-Efficient for Views"] = coEfficients[0]
results["p-Value for Views"] = pValues[0]
results["Co-Efficient for Likes"] = coEfficients[1]
results["p-Value for Likes"] = pValues[1]

In [ ]:
results = results.set_index("Variable")

In [ ]:
results

,Co-Efficient for Views,p-Value for Views,Co-Efficient for Likes,p-Value for Likes
Variable,,,,
Constant,7.744407e+05,0.535312,2827.476407,0.039180
Genbit Score,-3.668564e+07,0.019755,-3035.312721,0.858100
% Female Words,1.078307e+08,0.000005,-715.218082,0.976949
% Male Words,-3.239751e+06,0.661407,-2315.253103,0.773872
Freq of Female Words,1.050907e+05,0.494358,23.712482,0.887366
Freq of Male Words,-1.495301e+05,0.465683,25.750459,0.908119
Avg Bias Ratio,2.927084e+07,0.031002,3839.161500,0.793412
Genbit Score * Binary Variable,1.740547e+07,0.043781,-118.899892,0.989838
% Female Words * Binary Variable,-5.418067e+07,0.000014,2357.812822,0.857436
% Male Words * Binary Variable,4.319485e+05,0.930956,-501.810393,0.926398
Freq of Female Words * Binary Variable,-5.123723e+04,0.570609,-0.757312,0.993858
Freq of Male Words * Binary Variable,1.081208e+05,0.610348,-42.059404,0.855579
Avg Bias Ratio * Binary Variable,-1.469709e+07,0.050889,-1218.674445,0.881054
Length,-6.354015e+01,0.633307,-0.007385,0.959396
Days Old,1.764278e+04,0.000047,0.449638,0.921738

In [ ]:
results.to_excel("/content/Internship/RegressionResults1.xlsx")

In [ ]:
results.to_csv("/content/Internship/RegressionResults1.csv")